<div id="announcement_list">
  <h1>Listing announcements</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Zip code</th>
        <th>Image url</th>
      </tr>
    </thead>

    <tbody>
      <% @announcements.each do |announcement| %>
        <tr class ="<%= cycle('list_line_odd', 'list_line_even') %>">
          
          <td><%= image_tag(announcement.image_url, :class => 'list_image') %></td>

          <td class="list_description">
            <td><%= announcement.title %></td>
            <td><%= announcement.description %></td>
            <td><%= announcement.zip_code %></td>
            <td><%= announcement.image_url %></td>
          </td>

          <td class="list_actions">
            <td><%= link_to 'Show', announcement %></td>
            <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
            <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>

  <%= link_to 'New Announcement', new_announcement_path %>
